<!DOCTYPE html>
<html lang="pt-BR">
<%- include('partials/head.ejs') %> 
<body>
  <h1><%= title %> </h1>
  <%- include('partials/navbar.ejs') %> 
  <ul>
  <%users.forEach(user => { %>
    <div style="padding: 20px; margin: 10px 0; background: #c1c1c1; border-radius: 4px;">
      <li>Nome: <%= user.name %></li> 
      <li>Idade: <%= user.age %></li> 
      <li>Email: <%= user.email %></li>
      <a href="/edit?id=<%=user._id%>">[Editar]</a>
      <a href="/remove/<%=user._id%>">[Excluir]</a>
    </div>  
  <% }) %>
  </ul>
  <%- include('partials/foot.ejs') %> 
</body>
</html>